.body{
    margin: 0px;
}

.width-large{
    width: 100%;
    background-color: #ffffff;
}



.top-banner{
    background-image: url("bg-2.png");
    background-repeat: no-repeat;
    background-position: left;

}



#navbarSupportedContent{
    float: right;
    font-size: 16px
}



.navbar-light .navbar-nav .nav-link{
    color: rgb(0, 0, 0) !important;
}

.button-buy-me{
    background-color: rgba(247, 9, 219, 0.782);
    padding: 5px 25px;
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 7px;
    font-weight: 600;
    font-size: 20px;
    margin-left: 30px;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 0px 20px;
    
}

.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: rgb(255, 255, 255)55, 255, 255) !important;
    font-weight: 700;
}

.middle-banner{
    background-image: url("bg-1.png");
    background-repeat: no-repeat;
    background-position: top;
   
    
    
}

.bg-light{
    background-color: #ffffff!important;
}


.height{
    height: 650px;
    
    
}

.carousel-indicators button{
    background-color: rgba(247, 9, 219, 0.782) !important;
} 


h3{
    margin-left: 30px;
}

.text-align {
    margin-left: 30px;
}

h3{
    color:rgba(247, 9, 219, 0.782);
    font-size: 30px;
}

p{
color: dimgrey;
font-size: 18px;

}

.navbar-brand{
    margin-left: 10px;
}

#smartphone{
    margin-bottom:30px;
    margin-left: 15px;
    font-size: 24px;
    font-weight: 500;
}

.card{
    padding: 35px 50px 0px 50px;
    border: none;
   box-shadow: 0px 0px 15px lightgray;
    margin: center;
   
}
h5{
    text-align: center;
}

.card-text{
    text-align: center;
}

.bottom-banner{
    background-image: url("bg-2.png");
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: -160px;
}

.see-all   {
    float: right;
    text-decoration: none;
    
    
}

#smartphone a{
    color: rgba(247, 9, 219, 0.782);
}

#laptop a{
    color: rgba(247, 9, 219, 0.782);
}


#button-new{
    margin-left: 75px;
}


#laptop{
    margin-bottom:30px;
    margin-left: 15px;
    font-size: 24px;
    font-weight: 500;
}

.container{
    margin-bottom: 50px;
}

.categories{
    text-align: center;
    font-weight: 500;
    font-size: 24px;
}

.line{
    width: 85px;
    height: 7px;
    background-color:rgba(247, 9, 219, 0.782);
    border-radius: 5px;
    margin-left:  605px;
    margin-top: 20px;
}
.new-box-1{
    width: 250px;
    height:250px;
    background-image: url("categories/bag.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0px 0px 15px lightgray;
    
    

}


.new-box-2{
    width: 250px;
    height:250px;
    background-image: url("categories/shoe.png");
    background-repeat: no-repeat;
    background-position: center;
   
    border-radius: 10px;
    box-shadow: 0px 0px 15px lightgray;
    margin-left: 200px;
    
    

}

h4{
    padding-left: 100px;
    padding-top: 20px;
   
}

.footer{
    text-align: center;
}